head
  title MapPLZ: Coding
  link(type="text/css", rel="stylesheet", href="/stylesheets/journal.min.css")
  link(type="text/css", rel="stylesheet", href="/stylesheets/textcode.css")
  link(type="text/css", rel="stylesheet", href="/stylesheets/codemirror.css")
  style(type="text/css") a{ color:#44a; } .navbar{ zoom: 0.6; } .CodeMirror {border: 2px inset #dee;} .CodeMirror-scroll{ height: auto; overflow: visible; } .popover-title{ font-size: 18px; }
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  style(type="text/css") p, #map{ color: #444; } a{ color: #44f } .hero-unit{ text-align: center; padding: 30px; background: rgb( 149, 177, 213 ); } img{ max-width: none !important; }

body(style="background-color:#444;")
  .navbar
    .navbar-inner
      .container
        a.brand(href="/", style="text-transform:none;") MapPLZ
        a.brand(href="/code-env")
          u New Program

  .container(style="padding:30px;background-color:#fff;")
    .row
      .span6
        h4 Running: #{program.name}
        br
        textarea.span10#sketchplace(name="mysketch") #{program.code}
    
      .span6
        #map
        br
        a.btn.btn-inverse(href="/program/full/#{program.id}") Larger Map

    .row
      .span6
        div(style="margin-left:15px;")

          h4 Adopt &amp; Adapt
          a(href="/code-env/from/#{program.id}") Fork this program
          hr
          - if(follows != null)
            div#completeHistory
              - for source in follows
                p
                  span Based on&nbsp;
                  - if (source.other._data.data.name)
                    a(href="/program/#{source.other.id}") #{source.other._data.data.name}
                  - else
                    a(href="/program/#{source.other.id}") Program ##{source.other.id}
              a(href="#", onclick="traceSource()") See complete history
          br

          h4 Writers
          ul#users.spacedlist
            li
              span #{author}

  script(type="text/javascript", src="/scripts/codemirror.js")
  script(type="text/javascript", src="/scripts/ruby.js")
  script(type="text/javascript", src="/scripts/jquery-1.7.2.min.js")
  script(type="text/javascript") program_id = "#{program.id}";
  script(type="text/javascript", src="/scripts/mapplz.js")
  script(type="text/javascript", src="/scripts/viewprogram.js")